mainmenu "Reversing Nes configuration"

config APP_NAME
	string "Change name to binary output"
	default "reversing-nes"

menu "Gui"

config DISPLAY_SCALE
	int "Scale display"
	default 3

endmenu

source "console/Kconfig"
source "debugger/Kconfig"
source "nes/Kconfig"
source "platforms/Kconfig"

